body {
	background: url(../images/bg_body.jpg)
}
/*wrapper*/
.wrapper {
	position: relative;
}
/*end wrapper*/
/*-----------------------------------------------------*/
/*header*/
.header {
	
}

.logo {
	position: absolute;
	top: 65px;
	left: 140px;
}

.mainmenu {
	width: 705px;
	height: 40px;
	position: absolute;
	top: 120px;
	left: 400px;
	background: linear-gradient(#ddd, #999);
	border-radius: 10px;
}

.menu-list {
	/*padding: 12px;*/
	font-size: 14px;
	margin: 13px 10px 13px 10px;
}

.menu-item {
	text-decoration: none;
	display: inline;
	margin: 31px;
}

.active {
	background: url(../images/bg_menu-item-active.png);
}

.lang-list {
	position: absolute;
	top: 40px;
	left: 120px;
}
	
.lang-item {
	display: inline;
	margin-left: 10px;
}

.auth {
	position: absolute;
	top: 40px;
	right: 120px;
}
/*end header*/
/*-----------------------------------------------------*/
/*content*/
.content {
	position: relative;
	top: 400px;
	bottom: 62px;
}

.promo {
	position: absolute;
	width: 1000px;
	top: -200px;
	left: 100px;
	padding: 30px 0px 30px 146px;
	background: url(../images/bg_about.png) 5% no-repeat, url(../images/bg_promo.png) repeat;
	font-size: 14px;
	font-style: italic;
	color: #fff68d;
	border-radius: 10px;
}

.promo h1 {
	margin-bottom: 20px;
	font-size: 22px;
	font-style: normal;
	color: #ead4aa;
}
/*end content*/
/*-----------------------------------------------------*/
/*footer*/
.footer {
	position: relative;
}

.footer div {
	
}
/*end footer*/
/*-----------------------------------------------------*/
