html {
	width: 100%;
	min-height: 100%;
}

body {
	width: 100%;
	min-height: 100%;
	background: url(../images/bg_body.jpg);
}
/*wrapper*/
.wrapper {
	position: relative;
	min-height: 100%;
}
/*end wrapper*/
/*-----------------------------------------------------*/
/*header*/
.header {
	
}

.logo {
	position: absolute;
	top: 65px;
	left: 140px;
}

.mainmenu {
	text-align: justify;
	width: auto;
	height: 40px;
	position: absolute;
	top: 120px;
	left: 400px;
	right: 100px;
	background: linear-gradient(#ddd, #999);
	border-radius: 10px;
}

.menu-list {
	margin: 3px 10px 13px 10px;
	font-size: 14px;
}

.menu-list a {
    color: #461500;
		font-weight: bold;
    text-decoration: none;
}

.menu-item {
	display: inline-block;
  width: 10%;
	/*max-width: 117px;*/
	text-align: center;
	margin: auto 10px;
	padding: 10px;
	border-radius: 5px;
}

.active {
	background: url(../images/bg_menu-item-active.png);
}

.lang-list {
	position: absolute;
	top: 40px;
	left: 120px;
}
	
.lang-item {
	font-size: 11px;
	color: #ffffff;
	display: inline;
	margin-left: 10px;
}

.auth {
	text-transform: lowercase;
	font-size: 11px;
	color: #ffffff;
	position: absolute;
	top: 40px;
	right: 120px;
}
/*end header*/
/*-----------------------------------------------------*/
/*content*/
.content {
	position: relative;
	top: 400px;
}

.promo {
	position: absolute;
	width: auto;
	top: -200px;
	left: 100px;
	right: 100px;
	padding: 30px 0px 30px 146px;
	background: url(../images/bg_about.png) 5% no-repeat, url(../images/bg_promo.png) repeat;
	font-size: 14px;
	font-style: italic;
	color: #fff68d;
	border-radius: 10px;
}

.promo h1 {
	margin-bottom: 20px;
	font-size: 22px;
	font-style: normal;
	color: #ead4aa;
}

.article img {
	margin: -40px 120px -100px;
	float: left;
	width: auto;
	height: auto;
}

.article h2{
	margin: 47px 246px 23px;
	font-size: 18px;
	color: #fff68d;
}

.article p{
	width: auto;
	margin: auto 246px;
	font-size: 11px;
	color: #d7cfc8;
}
/*end content*/
/*-----------------------------------------------------*/
/*footer*/
.footer {
	position: relative;
	width: 100%;
	margin: 480px 100px;
	padding: 20px;
	color: #fff68d;
}

.footer div{
	float: left;
}

.footer nav{
	float: right;
	margin: -17px 190px;
}

.footer .menu-item {
	display: inline;
}

.footer .menu-list a {
    color: #fff;
    text-decoration: none;
}
/*end footer*/
/*-----------------------------------------------------*/